table.clients td {
    text-align: center;
}

div.client {
    background-color: #FFFFDD;
    border: 1px solid #D7D7D7;
    margin-bottom: 6px;
    padding: 6px;
}

li.representative {
    list-style: none;
    background-color: #EEEEEE;
    padding: 10px;
    border: 1px solid #CCCCCC;
    margin-bottom: 6px;
}

li.representative table {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

li.representative table th {
    background-color: #FFFFFF;
    width: 15%;
    border: 1px solid #CCCCCC;
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

li.representative table td {
    background-color: #FFFFFF;
    width: 35%;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

li.representative table td.big {
    font-size: 20px;
    font-weight: bold;
}


div#versions ul {
    padding: 0;
    list-style: none;
}

div#versions h5 {
    margin: 0;
}

td.todo {
    background-color: #FFFFFF;
}